body {background-color: black;
}
h1 {front-size 10%
}
h1 {color: white;
}
#ima1 {width: 50%
}
#ima1 {margin-left: 25%
}
#ima2 {margin-left: 25%
}
#ima2 {width: 50%
}
h1 {text-align: center;
}
h2 {text-align: center;
}